# DB
POSTGRES_NAME=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Telegram
TG_TOKEN=tg_token_123
TG_ADMIN_ID=123456789

# Parser
PARSER_HEADLESS_MODE=true

# Scheduler
SCHEDULER_RUN_INTERVAL=30

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASSWORD=guest
RABBITMQ_MANAGEMENT_PORT=15672

# Common
MIN_CHECK_INTERVAL=480
