# DB
POSTGRES_NAME=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Telegram
TG_TOKEN=tg_token_123
TG_ADMIN_ID=123456789

# Parser
PARSER_HEADLESS_MODE=true

# Scheduler
SCHEDULER_RUN_INTERVAL=24
SCHEDULER_RUN_ON_STARTUP=false
